.pagination {
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 25px;
    background-color: var(--news-pagination-color);
}
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.item {
    padding: 3px 10px;
    color: var(--news-secondary-color);
}
.item:disabled, .arrow:disabled {
    cursor: default;
}
.item:disabled {
    border-radius: 13px;
    color: var(--news-main-color);
    background-color: var(--news-active-color);
}
.arrow {
    padding: 3px 10px;
    display: flex;
    align-items: center;
}
.leftArrow {
    rotate: 270deg;
}
.rightArrow {
    rotate: 90deg;
}

@media (max-width: 770px) {
    .pagination {
    }
}