.news_cards {
    grid-row-start: 2;
    column-count: 2;
    column-gap: 20px;
}

@media (min-width: 1400px) {
    .news_cards {
        column-count: 3;
    }
}

@media (max-width: 600px) {
    .news_cards {
        column-count: 1;
    }
}
