.window {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}
.list {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}
.toggle_buttons {
    position: absolute;
    top: 221px;
    right: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    background-color: rgba(250, 250, 250, 0.5);
}
.arrowDown {
    rotate: 180deg;
}
.arrowUp, .arrowDown {
    width: 20px;
}

@media (max-width: 770px) {
    .container {
        height: 200px;
    }
    .toggle_buttons {
        right: 10px;
        top: 138px;
    }
    .arrowUp, .arrowDown {
        width: 16px;
    }
}