.search_input {
    position: absolute;
    width: 340px;
    height: 38px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px 20px 20px;
    color: var(--news-main-color);
    background-color: var(--news-secondary-color);
    z-index: 1;
}
input::placeholder {
    color: var(--news-main-color);
}

@media (max-width: 1000px) {
    .search_input {
        width: 240px;
    }
}

@media (max-width: 770px) {
    .search_input {
        display: none;
    }
}
