.filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title {
    color: var(--news-secondary-color);
    padding-left: 10px;
}
.button {
    margin: 4px;
    padding: 5px 20px;
    width: max-content;
    border-radius: 20px;
    font-size: 0.87em;
    color: var(--news-secondary-color);
    background-color: var(--news-pagination-color);
    transition: all 0.3s ease;
}
.button:hover {
    background-color: var(--news-active-color);
}

@media (max-width: 770px) {
    .title {
        font-size: 0.87em;
    }
    .button {
        padding: 5px 15px;
        font-size: 0.625em;
    }
}