.search {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: var(--news-pagination-color);
}
.input {
    flex-grow: 1;
    color: var(--news-secondary-color);
}
input::placeholder {
    color: var(--news-secondary-color);
}
