.theme_button {
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background-color: var(--news-background-color);
}
.icon {
    width: 20px;
}

@media (max-width: 770px) {
    .theme_button {
        padding: 0 8px;
        gap: 12px;
        z-index: 1;
    }
    .icon {
        width: 16px;
    }
}