.item, .active {
    margin: 4px;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 0.87em;
    transition: all 0.3s ease;
}
.item {
    color: var(--news-secondary-color);
    background-color: var(--news-pagination-color);
}
.active {
    color: #fafafa;
}
.item:hover, .active {
    background-color: var(--news-active-color);
}

@media (max-width: 770px) {
    .item, .active {
        padding: 5px 15px;
        font-size: 0.87em;
    }
}
