.list {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    gap: 8px;
}
.item, .active {
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 1em;
    transition: all 0.3s ease;
}
.item {
    color: var(--news-main-color);
    background-color: var(--news-background-color);
}
.item:hover {
    color: var(--news-secondary-color);
    background-color: var(--news-active-color);
}
.active {
    color: var(--news-secondary-color);
    background-color: var(--news-active-color);
}

::-webkit-scrollbar {
    scrollbar-width: none;
}
