:root {
  --news-main-color: #fafafa;
  --news-secondary-color: #181927;
  --news-background-color: #181927;
  --news-subtext-color: #6c7072;
  --news-active-color: #5560f0;
  --news-pagination-color: #f3f3f3;
}
:root.dark-theme {
  --news-main-color: #181927;
  --news-secondary-color: #fafafa;
  --news-background-color: #090B1A;
  --news-subtext-color: #6c7072;
  --news-active-color: #5560f0;
  --news-pagination-color: #11132D;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Nunito Sans", serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 50px;
  background-color: var(--news-main-color);
  transition: background-color 0.3s ease;
}
h1 {
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 700;
  color: var(--news-pagination-color);
}
h2 {
  font-size: 1.25em;
  font-weight: 700;
  color: var(--news-main-color);
}
h3 {
  font-size: 1em;
  font-weight: 600;
  color: var(--news-main-color);
}
p {
  font-size: 0.87em;
  color: var(--news-main-color);
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
input {
  border: none;
  background-color: transparent;
}
input:focus {
  outline: none;
}
img {
  cursor: pointer;
}

@media (max-width: 770px) {
  body {
    padding: 15px 20px;
  }
  h1 {
    font-size: 1em;
    font-weight: 600;
  }
  h3 {
    font-size: 1em;
    font-weight: 600;
    color: var(--news-main-color);
  }
  p {
    font-size: 0.625em;
    color: var(--news-main-color);
  }
}