.banner {
    position: relative;
    width: 100%;
    height: 500px;
}
.date {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 10px;
    color: #fafafa;
    background-color: var(--news-background-color);
    transition: background-color 0.3s ease;
    z-index: 1;
}
.bubble_top,
.bubble_top:after,
.bubble_top:before,
.bubble_bottom,
.bubble_bottom:after,
.bubble_bottom:before {
    position: absolute;
}
.bubble_top, .bubble_bottom {
    width: 350px;
    height: 48px;
    background-color: var(--news-main-color);
    transition: background-color 0.3s ease;
}
.bubble_top {
    top: 0;
    left: 0;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    border-bottom-right-radius: 20px;
}
.bubble_top:after {
    content: "";
    width: 56px;
    height: 28px;
    top: 0;
    right: -56px;
    border-top-left-radius: 20px;
    box-shadow: -20px 0 0 0 var(--news-main-color);
}
.bubble_top:before {
    content: "";
    width: 56px;
    height: 28px;
    bottom: -28px;
    left: 0;
    border-top-left-radius: 20px;
    box-shadow: -20px 0 0 0 var(--news-main-color);
}
.bubble_bottom {
    padding: 10px;
    bottom: 0;
    right: 0;
    border-top-left-radius: 20px;
}
.bubble_bottom:after {
    content: "";
    width: 56px;
    height: 28px;
    bottom: 0;
    left: -56px;
    border-bottom-right-radius: 20px;
    box-shadow: 20px 0 0 0 var(--news-main-color);
}
.bubble_bottom:before {
    content: "";
    width: 28px;
    height: 56px;
    top: -56px;
    right: 0;
    border-bottom-right-radius: 20px;
    box-shadow: 0 20px 0 0 var(--news-main-color);
}

@media (max-width: 1000px) {
    .bubble_bottom {
        width: 250px;
    }
}

@media (max-width: 770px) {
    .banner {
        height: 200px;
    }
    .date, .bubble_bottom {
        display: none;
    }
    .bubble_top {
        width: 70px;
        height: 42px;
    }
    .bubble_top:after {
        height: 21px;
    }
}

