.banner {
    position: relative;
    height: 500px;
    grid-column: span 2;
}
.bubble_top,
.bubble_top:after,
.bubble_top:before {
    position: absolute;
}
.bubble_top {
    width: 360px;
    height: 48px;
    top: 0;
    left: 0;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    border-bottom-right-radius: 20px;
    background-color: var(--news-main-color);
    transition: background-color 0.3s ease;
}
.bubble_top:after {
    content: "";
    width: 56px;
    height: 28px;
    top: 0;
    right: -56px;
    border-top-left-radius: 20px;
    box-shadow: -20px 0 0 0 var(--news-main-color);
}
.bubble_top:before {
    content: "";
    width: 56px;
    height: 28px;
    bottom: -28px;
    left: 0;
    border-top-left-radius: 20px;
    box-shadow: -20px 0 0 0 var(--news-main-color);
}


@media (max-width: 770px) {
    .banner {
        height: 200px;
        grid-column: auto;
    }
    .bubble_top {
        width: 260px;
        height: 42px;
    }
    .bubble_top:after {
        height: 21px;
    }
}

